<%= "#{@posts.size.to_s} active posts found." %>

<div class="container">
  <!-- show all active posts -->
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
        <div class="insta-post">
          <div class='post-meta'>
            <%= link_to cl_image_tag(post.account.photo.thumb.url), profile_path(post.account.username) %>
            <%= link_to post.account.username, profile_path(post.account.username), class: "text-dark" %>
          </div>

          <%= cl_image_tag post.photo, class: 'img img-fluid' %>

          <div class="post-details">
            <p><strong><%= post.total_likes %> likes</strong></p>
            <p><strong><%= link_to post.account.username, profile_path(post.account.username), class: "text-dark"%></strong></p>

            <%= simple_format post.description %>

            <p class="text-muted"><%= time_ago_in_words post.created_at %></p>
          </div>
        </div>
      <% end %>
    </div>
  <!-- show account summary -->
    <div class="col-4">
      <div class="account-summary">
        <p><strong><%= current_account.username %></strong> <br>
        <%= current_account.full_name %></p>
      </div>
      <div class="follower-suggestions">

      </div>
    </div>
  </div>
</div>
