<%= "#{@posts.size.to_s} active posts found." %>

<div class="container">
  <!-- show all active posts -->
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
        <div class="insta-post">
          <div class='post-meta'>
            <%= link_to cl_image_tag(post.account.photo.thumb.url), profile_path(post.account.username) %>
            <%= link_to post.account.username, profile_path(post.account.username), class: "text-dark" %>
          </div>

          <%= cl_image_tag post.photo, class: 'img img-fluid' %>


          <div class="post-details">
            <div class="post-actions" data-id="<%= post.id %>">
              <!-- if account_id est égal à l'id du current account alors display full sinon display le vide comme dans Whisp -->
              <% if post.liked?(current_account) %>
                <%= link_to unlike_post_path(post), remote: true, method: :delete, class: "action-btn like-post", data: { id: post.id } do %>
                  <%= image_tag('heart_filled.svg') %>
                <% end %>
              <% else %>
                <%= link_to like_post_path(post), remote: true, class: "action-btn like-post", data: { id: post.id } do %>
                  <%= image_tag('heart.svg') %>
                <% end %>
              <% end %>
              <span class="action-btn comment-post"><%= image_tag('comment.svg') %></span>
            </div>
            <p><strong><%= post.total_likes %> <%= (post.likes.count) <= 1 ? 'Like' : 'Likes'%></strong></p>
            <p><strong><%= link_to post.account.username, profile_path(post.account.username), class: "text-dark"%></strong></p>

            <%= simple_format post.description %>

            <p class="text-muted"><%= time_ago_in_words post.created_at %></p>
          </div>
        </div>
      <% end %>
    </div>
  <!-- show account summary -->
    <div class="col-4">
      <div class="account-summary">
        <p>
          <%= link_to cl_image_tag(current_account.photo.thumb.url, class: "img-circle"), profile_path(current_account.username) if current_account.photo.present? %>


          <strong><%= current_account.username %></strong> <br>
          <%= current_account.full_name %>
        </p>
      </div>
      <div class="follower-suggestions">
        <%= link_to 'View All', "#", class: 'float-right text-dark'  %>
        <p class="text-muted">Suggestions for you</p>
      </div>
    </div>
  </div>
</div>
