<%= "#{@posts.size.to_s} active posts found." %>

<div class="container">
  <!-- show all active posts -->

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-8">
        <div class="insta-post">
          <div class='post-meta'><%= post.account.username %></div>
          <%= cl_image_tag post.photo, class: 'img img-fluid' %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- show account summary -->

  <div class="col-4">
    <div class="account-summary">
      <p><strong><%= current_account.username %></strong> <br>
      <%= current_account.full_name %></p>
    </div>
    <div class="follower-suggestions">

    </div>
  </div>
</div>
